/*
	Theme Name: Twenty Tewnty Child
	Theme URI: http://localhost:8084/wp/
	Description: A Twenty Twenty child theme 
	Author: mcast
	Author: jurgen
	Template: twentytwenty
	Version: 1.0.0
*/

.site-title a{
	font-size: 50px;
}

.site-description{
	font-style: italic;
}

#menu-item-215 a, #menu-item-232 a, #menu-item-216 a, #menu-item-217 a{
	color: white;
}

.button .wc-forward{
	background-color: white;
}

figcaption{
	height: 30px;
	padding-top: 5px;
	text-align: center;
	background-color: #898989;
	border-radius:0px 0px 18px 18px;
}

.powered-by-wordpress a:after{
	content: " - Developed by Jurgen";
}

.entry-title{
	text-decoration: underline;
}

.has-text-align-center strong{
	font-size: 36px;
	font-family: Arial, Helvetica, sans-serif;
}

.has-text-align-left{
	font-size: 36px;
	font-family: Arial, Helvetica, sans-serif;
}

#menu-item-240 a{
	color: white;
}

#menu-item-231 div a, #menu-item-248 div a, #menu-item-247 div a{
	color: white;
}

a.button{
	color: black;
	border-radius: 50px;
}

a.button:hover{
	color: black;
}

.price{
	background-color: white;
	padding-left: 20px;
	border-radius: 50px;
	color: black;
}

.woocommerce-loop-product__title{
	background-color: white;
	border-radius: 0px 0px 18px 18px;
	text-align: center;
	padding: 7px;
}

.entry-summary{
	background-color: #898989;
	padding: 10px;
	border-radius: 18px;
}

.has-text-align-left strong{
	background-color: #898989;
	padding: 10px;
	border-radius: 50px;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.woocommerce-MyAccount-navigation li.is-active a{
	background-color: white;
	color: black !important;
	text-decoration: none !important;
	padding: 5px;
	border-radius: 50px;
}

.woocommerce-MyAccount-navigation ul li a{
	color: white !important;
}

.woocommerce-MyAccount-navigation ul li a:hover{
	text-decoration: none !important;
}

.woocommerce-mini-cart__buttons a{
	color: black !important;
}

#about_text_shortcode{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center; 
	font-size:22px;
	background-color: #898989;
	border-radius: 100px;
	padding: 15px;
}

#social_message{
	background-color: #898989;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 30px;
	text-decoration: underline;
}

#facebook_link{
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}

#instagram_link{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}

#facebook_link, #instagram_link{
	font-weight: bold;
	text-decoration: underline;
	font-size: 24px;
}

#short_table{
	width: 80%;
	background-color: #929292;
}